* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  @import 'spell-card';

// #spells-container idealmente se convertira en las "paginas"
  #spells-container {
    display: grid;
    gap: 8px;
    
    width: 100%;
    height: 100vh;
    padding: 10px;

    background-color: rgb(128, 77, 19);
    overflow: auto;
    
  }
  
  @media screen and (max-width: 425px) {
    #spells-container {
      grid-template-columns: 1fr; /* Una columna para pantallas de hasta 768px */
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    #spells-container {
      grid-template-columns: 1fr 1fr; /* Una columna para pantallas de hasta 768px */
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    #spells-container {
      grid-template-columns: 1fr 1fr 1fr; /* Una columna para pantallas de hasta 768px */
    }
  }

  @media screen and (min-width: 1440px) {
    #spells-container {
        grid-template-columns: repeat(4, 1fr);
    }
  }
  




  

//   .spell-card img {
//     opacity: 0.75;
//   }
  

  
//   
  
  
//   .spell-card p {
//     margin-bottom: 5px;
//   }
  
//   .spell-attributes {
//     padding: 5px;
//     height: 120px;
//     width: 90%;
//     margin: 0 auto;
//     box-shadow: inset -1px -1px -2px grey;
//     font-size: 14px;
//     
//   }
  
//   .spell-box-description {
//     position: absolute;
//     bottom: 10px;
//     width: 95%;
//     height: 30%;
//     padding: 5px;
//     background-color: beige;
//     border: 2px solid black;
//     border-radius: 10px;
//     box-shadow: 3px 3px 3px grey;
//     overflow: auto;
//   }